<ng-container *ngIf="course">
  <div class="course-card" [ngClass]="onSetCardClasses()">
    <div class="course-title" [ngStyle]="onSetCardStyle()">
      {{ index + " " + course.description }}
    </div>

    @if(course.id == 1){
    <h2>The Course is the first</h2>
    } @else if (course.iconUrl) {
    <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
    } @else {
    <h2>No image available</h2>
    }

    <!-- This component we use for content projection to send me from view parent component -->
    <ng-content> </ng-content>

    <div
      class="course-description"
      *ngIf="course.longDescription; else noDescription"
    >
      {{ course.longDescription }}
    </div>
    <ng-template #noDescription>
      <h2>No Description Available</h2>
    </ng-template>

    <div class="course-category">
      @switch (course.category) { @case ("BEGINNER") {
      <div class="category">Beginner</div>
      } @case ("INTERMEDIATE") {
      <div class="category">Intermediate</div>
      } @case ("ADVANCED") {
      <div class="category">Advanced</div>
      } @default {
      <div class="category">Unknow</div>
      } }
    </div>

    <button (click)="onCourseViewed()">Print Message</button>
  </div>
</ng-container>
