<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    alt="Angular Academy logo"
  />
</div>

<div class="courses">
  @for (course of courses; track course.id; let index = $index; let count =
  $count; let first = $first; let last = $last; let odd = $odd; let even =
  $even) {
  <course-card
    [course]="course"
    [index]="index"
    [class.is-first]="first"
    [class.is-last]="last"
    [class.is-odd]="odd"
    [class.is-even]="even"
    (courseSelected)="onCourseSelected($event)"
  ></course-card>
  }
  <!-- Iteraction Odd way -->
  <!-- <course-card
    *ngFor="let course of courses"
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
  ></course-card> -->
</div>
