<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    alt="Angular Academy logo"
  />
</div>
<div id="CourseCards" hidden="true">
  <ng-container class="courses">
    <div #DateFormat>
      <h3>Date Format</h3>
      <p>Start Date: {{ startDate | date }}</p>
    </div>
    <div>
      <h3>Percent</h3>
      <p>Total Coffe Export: {{ totalCoffeExport | percent }}</p>
    </div>
    <div>
      <h3>Currency</h3>
      <p>Salary of Charlie: {{ salary | currency : "EUR" }}</p>
    </div>
    <div>
      <h3>Decimal</h3>
      <p>
        Amount electrocity in blood: {{ amountEletrocit | number : "2.0-3" }}
      </p>
    </div>
    <div>
      <h3>Key Values</h3>
      <div *ngFor="let pair of courses[0] | keyvalue">
        {{ pair.key + ": " + pair.value }}
      </div>
    </div>
  </ng-container>

  <!-- 2. Probando el ng-template desde el componente principal
  <div class="courses" *ngIf="courses[0] as course">
    <ng-template #blankImage let-courseName="description">
      <p>{{ courseName }} has no image yet.</p>
      <img src="../assets/empty-image.png" alt="Empty iconUrl" />
    </ng-template>
  
    <ng-container
      *ngTemplateOutlet="blankImage; context: { description: course.description }"
    >
    </ng-container>
  </div> -->

  <!-- 3. Pasando el ng-template de imagen vacia al componente de course-card -->
  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image yet.</p>
    <img src="../assets/empty-image.png" alt="Empty iconUrl" />
  </ng-template>

  <course-card
    #firtCard
    [course]="courses[0]"
    [index]="20"
    (courseSelected)="onCourseSelected($event)"
    [noImageTpl]="blankImage"
  >
    <h3>Projection Content from app-component into course-card</h3>
  </course-card>

  <div class="courses">
    @for (course of courses; track course.id; let index = $index; let count =
    $count; let first = $first; let last = $last; let odd = $odd; let even =
    $even) {
    <course-card
      [course]="course"
      [index]="index"
      [class.is-first]="first"
      [class.is-last]="last"
      [class.is-odd]="odd"
      [class.is-even]="even"
      (courseSelected)="onCourseSelected($event)"
      [noImageTpl]="blankImage"
    ></course-card>
    }
    <!-- Iteraction Odd way -->
    <!-- <course-card
      *ngFor="let course of courses; index as i; first as isFirst;last as isLast; even as isEven; odd as isOdd"
      [course]="course"
      [index]="i + 1"
      [class.is-first]="isFirst"
      [class.is-last]="isLast"
      [class.is-odd]="isOdd"
      [class.is-even]="isEven"
      (courseSelected)="onCourseSelected($event)"
    ></course-card> -->
  </div>
</div>
<div id="Currencies">
  <currencies EuroActual="500" [isAngularWithTypescript]="true"></currencies>
</div>
