<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    alt="Logo Enterprices"
  />
</div>

<div>
  <div class="demo">
    <button (click)="OnEditTitleCourse()">Edit Course</button>
  </div>
  <!-- We need to use async pipe when OnPush is activated -->

  <!-- Esto se cargara bajo cuerda por alguna necesidad requerida de la aplicacion -->
  @defer {
  <div class="courses">
    <course-card
      *ngFor="let course of courses"
      [course]="course"
      type="Beginner"
      (courseChanged)="OnSave($event)"
    >
      <course-image [src]="course.iconUrl"></course-image>
    </course-card>
  </div>
  }

  <!-- Esta sección es la que se muestra mientras se carga lo que esta en la parte del defer  -->
  @placeholder {
  <h2>This is the placeholder!!</h2>
  }

  <!-- Se muestra el loading mientras carga el @defer  -->
  @loading(minimum 3s; after 1s) {
  <h2>Loading...</h2>
  }
</div>
