<div class="main">
  <div>
    <img src="/public/favicon.ico" alt="Partner enterprise" />
  </div>
  <div class="txt-presentation">
    Photo: <span class="txt-value">{{ Partner.Photo }}</span>
  </div>
  <div class="txt-presentation">
    FirstName: <span class="txt-value">{{ Partner.FirstName }}</span>
  </div>
  <div class="txt-presentation">
    SecondName: <span class="txt-value">{{ Partner.SecondName }}</span>
  </div>
  <div class="txt-presentation">
    FirstLastName: <span class="txt-value">{{ Partner.FirstLastName }}</span>
  </div>
  <div class="txt-presentation">
    SecondLastName: <span class="txt-value">{{ Partner.SecondLastName }}</span>
  </div>
  <div class="txt-presentation">
    Age: <span class="txt-value">{{ Partner.Age }}</span>
  </div>
  <div class="txt-presentation">
    Profession: <span class="txt-value">{{ Partner.Profession }}</span>
  </div>
  <div class="txt-presentation">
    Height: <span class="txt-value">{{ Partner.Height }}</span>
  </div>
  <div class="txt-presentation">
    Weight: <span class="txt-value">{{ Partner.Weight }}</span>
  </div>
  <div class="txt-presentation">
    FootSize: <span class="txt-value">{{ Partner.FootSize }}</span>
  </div>
  <div class="txt-presentation">
    Email: <span class="txt-value">{{ Partner.Email }}</span>
  </div>
  <div class="txt-presentation">
    Address: <span class="txt-value">{{ Partner.Address }}</span>
  </div>
  <div class="txt-presentation">
    PhoneNumber: <span class="txt-value">{{ Partner.PhoneNumber }}</span>
  </div>
  <div class="txt-presentation">
    Birth: <span class="txt-value">{{ Partner.Birth }}</span>
  </div>
  <div class="txt-presentation">
    PlaceBirth: <span class="txt-value">{{ Partner.PlaceBirth }}</span>
  </div>
  <div class="txt-presentation">
    Nationality: <span class="txt-value">{{ Partner.Nationality }}</span>
  </div>
  <div class="txt-presentation">
    Gender: <span class="txt-value">{{ Partner.Gender }}</span>
  </div>
</div>
