<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>


<div>
  <p>Get Course of *ngif and async way</p>
  <div class="courses" *ngIf="courses$ | async as courses">
    <course-card
      *ngFor="let course of courses"
      [course]="course"
      (courseChanged)="OnSave($event)"
    >
      <course-image [src]="course.iconUrl"></course-image>
    </course-card>
  </div>
</div> 
<div>
  <p>Get Course of ngif and let and async way</p>
  @let courses = courses$ | async; @if (courses$) {
  <div class="courses">
    <course-card
      *ngFor="let course of courses"
      [course]="course"
      (courseChanged)="OnSave($event)"
    >
      <course-image [src]="course.iconUrl"></course-image>
    </course-card>
  </div>
  }
</div>
