<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    alt="Logo Enterprices"
  />
</div>

<div>
  <div class="demo">
    <button (click)="OnEditTitleCourse()">Edit Course</button>
  </div>
  <!-- We need to use async pipe when OnPush is activated -->
  <div class="courses" *ngIf="courses[0] as course">
    <course-card
      [course]="course"
      type="Begginer"
      (courseChanged)="OnSave($event)"
    >
      <course-image [src]="course.iconUrl"></course-image>
    </course-card>
  </div>
</div>
